  <div id="profileModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeProfileModal()">&times;</span>
      <h2>Your Profile</h2>
      <form id="profileForm">
        <input type="text" name="firstName" placeholder="First Name" />
        <input type="text" name="surname" placeholder="Surname" />
        <input type="text" name="company" placeholder="Company" />
        <input type="email" name="email" placeholder="Email" />
        <input type="tel" name="phone" placeholder="Telephone" />
        <div class="modal-buttons">
          <button type="submit">Save</button>
          <button type="button" onclick="closeProfileModal()">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <script>
document.getElementById('profileForm').addEventListener('submit', function (e) {
  e.preventDefault();
  const data = {
    firstName: this.elements['firstName'].value,
    surname: this.elements['surname'].value,
    company: this.elements['company'].value,
    email: this.elements['email'].value,
    phone: this.elements['phone'].value
  };
  fetch('/submit-profile', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify(data)
  }).then(() => {
    alert('Profile saved');
    closeProfileModal();
  }).catch(err => alert('Profile save failed: ' + err));
});
</script>
