<div id="signupModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeSignupModal()">&times;</span>
      <h2>Create Your Account</h2>
      <form id="signupForm">
        <input type="text" name="firstName" placeholder="First Name" required />
        <input type="text" name="surname" placeholder="Surname" required />
        <input type="text" name="company" placeholder="Company Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="tel" name="phone" placeholder="Telephone" pattern="[0-9]{10,15}" required />
        <button type="submit">Start Signup</button>
      </form>
    </div>
  </div>

  <script>

    function openSignupModal() {
      document.getElementById("signupModal").style.display = "block";
    }

    function closeSignupModal() {
      document.getElementById("signupModal").style.display = "none";
    }

    document.getElementById('signupForm').addEventListener('submit', function (e) {
  e.preventDefault();
  const data = {
    firstName: this.elements['firstName'].value,
    surname: this.elements['surname'].value,
    company: this.elements['company'].value,
    email: this.elements['email'].value,
    phone: this.elements['phone'].value
  };
  fetch('/submit-signup', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify(data)
  }).then(() => {
    alert('Signup submitted');
    closeSignupModal();
  }).catch(err => alert('Signup failed: ' + err));
});

    
</script>
