<%- include('partials/header') %>
  <section class="section">
    <div class="container">
      <h2>Join Our Team</h2>
      <p>We're always on the lookout for forward-thinking, tech-savvy professionals to join our growing team. At Oblongix, we blend AI technology with human expertise to redefine consulting for our clients.</p>

      <h3>Current Openings</h3>
      <ul>
        <li><strong>AI Business Consultant</strong> – Help businesses embed AI into their operations. Experience with Automation, ML/LLMs preferred.</li>
        <li><strong>Business Consultants</strong> – Provide comprehensive advice and guidance to clients in specalist areas of Business challenge and change.</li>
        <li><strong>Tech Strategy Analyst</strong> – Analyze business processes and recommend strategic technology adoption.</li>
        <li><strong>Frontend Developer</strong> – Build excellent user interfaces and processes. Experience with Python, Streamlit, Typescript, React or Vue desirable.</li>
        <li><strong>Business Consulting Director</strong> – Lead Client relationshop, develop and manage the delivery of client engagements.</li>
        <li><strong>Technology Consulting Director</strong> – Develop and managing the delivery of technology and process solutions to support client engagements.</li>
      </ul>

      <h3>How to Apply</h3>
      <p>Send your CV and a short cover note explaining your interest in Oblongix to <a href="mailto:careers@oblongix.com">careers@oblongix.com</a>.</p>

      <p>If your skills align, we’ll be in touch!</p>
    </div>
  </section>

<%- include('partials/contact_modal') %>  
<%- include('partials/login_modal') %>  

<%- include('partials/footer') %>