<%- include('partials/header') %>

  <section class="hero oblongix-hero">
    <div class="container">
     <h2>Insights</h2>
     <p>industry Insights</p>
    </div>
  </section>

<%- include('partials/contact_modal') %>  
<%- include('partials/login_modal') %>  

<%- include('partials/footer') %>
